<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
</head>
<body>
    <h1>TODOS</h1>
    <ul>
        {% for todo in todos %}
            <li>
                <input type="checkbox" name="done" {% if todo['done'] %} checked {%endif%} onchange="this.form.submit">
                <span {% if todo['done'] %} style="text-decoration: line-through" {%endif%}>{{ todo.todo }} </span>
                <a href="{{ url_for('edit', id=todo.id) }}">Edit</a>
                <a href="{{ url_for('delete', id=todo.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="todo">
        <button type="text">Add Todo</button>
    </form>
</body>
</html>